<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<aside id="sidebar" class="sidebar" th:fragment="sidebar">
    <div class="sidebar-inner affix-top">

        <section class="site-overview-wrap sidebar-panel sidebar-panel-active">
            <div class="site-overview" style="max-height: 585px;">
                <div class="site-author motion-element" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                    <img class="site-author-image" itemprop="image" th:src="@{/blog/image/kyrie.jpg}" alt="Shelf">
                    <p class="site-author-name" itemprop="name">Shelf</p>
                    <p class="site-description motion-element" itemprop="description">Attention</p>
                </div>
                <nav class="site-state motion-element">
                    <div class="site-state-item site-state-posts">
                        <a href="/archives">
                            <span class="site-state-item-count" th:text="${session.articleCount}"></span>
                            <span class="site-state-item-name">Logs</span>
                        </a>
                    </div>
                    <div class="site-state-item site-state-categories">
                        <a href="/categories">
                            <span class="site-state-item-count" th:text="${session.categoryCount}"></span>
                            <span class="site-state-item-name">Categories</span>
                        </a>
                    </div>
                    <div class="site-state-item site-state-tags">
                        <a href="/tags">
                            <span class="site-state-item-count" th:text="${session.tagCount}"></span>
                            <span class="site-state-item-name">Tags</span>
                        </a>
                    </div>
                </nav>
                <div class="links-of-author motion-element">
                    <th:block th:each="index : ${commons.social()}">
                        <th:block th:if="${index.value} != null and ${index.value} != ''">
                            <th:block th:switch="${index.key}">
                                <th:block th:case="'github'">
                                    <span class="links-of-author-item">
                                        <a th:href="@{${index.value}}" target="_blank" title="GitHub">
                                            <i class="fa fa-fw fa-github"></i>GitHub
                                        </a>
                                    </span>
                                </th:block>

                            </th:block>
                        </th:block>
                    </th:block>

                </div>
                <div class="links-of-blogroll motion-element links-of-blogroll-inline">
                    <div class="links-of-blogroll-title">
                        <i class="fa  fa-fw fa-link"></i>
                        Links
                    </div>
                    <th:block th:if="${session.links} != 0">
                        <ul th:each="link : ${session.links}" class="links-of-blogroll-list">
                            <li class="links-of-blogroll-item">
                                <a th:href="${link.slug}" th:title="${link.name}" target="_blank">
                                    <th:block th:text="${link.name}"></th:block>
                                </a>
                            </li>
                        </ul>
                    </th:block>


                </div>
            </div>
        </section>
    </div>
</aside>
</body>
</html>